body {
    background-color: #192231;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 78%;
}

h1 {
    color: white;
    font-family: Roboto;
    font-weight: 100;
    font-size: 45px;
    margin: 40px 40px 40px 40px;
    text-align: center;
}

.article {
  color: white;
  font-family:Roboto;
  font-weight: 100;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: justify;
  margin: 70px 150px 50px 150px;
}

.graphs {
  margin: 50px 300px;
  width:50%;
  align-content: center;
}

/*----- Tabs -----*/
.tabs {
width:100%;
display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
display:block;
clear:both;
content:'';
}

.tab-links li {
margin:0px 5px;
float:left;
list-style:none;
}

.tab-links a {
padding:9px 21px;
display:inline-block;
border-radius:3px 3px 0px 0px;
background:#98878f;
font-size:16px;
font-family:Roboto;
font-weight:100;
color:white;
transition:all linear 0.15s;
}

.tab-links a:hover {
background: #98878f;
text-decoration:none;
}

li.active a, li.active a:hover {
background:#98878f;
color:white;
}

/*----- Content of Tabs -----*/
.tab-content {
padding:15px;
border-radius:3px;
margin: 40px 40px 40px 40px;
box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
background:white;
}

.tab {
display:none;
}

.tab.active {
display:block;
}

#datawrapper-chart-0iyFh {
 height: 200px !important; 
}
